.card {
    overflow: hidden;
    max-width: 400px;
  }

  .card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
  }
  
  .card img {
    width: 400PX;
    height: auto;
  }
  
  .card-content {
    text-align: center;
    max-height: 150px;
    margin: 10px auto;
  }
  
  .card-content p {
    margin: 15px 0;
    font-weight: bold;
    color: black;
  }
  
  .card button {
    background-color: #126B3A;
    color: #fff;
    padding: 8px 16px;
    border: none; 
    cursor: pointer;
    width: 100%;
  }
  