
.navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px; 
    background-color: #ffffff;
    color: #000000;
  }
  
  .logo img {
    height: 70px;
    width: 300px;
    padding: 5px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 35px; 
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000000;
  }
  