
.navbar {
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
  }
  
  .logo-container {
    width: 245px;
    height: 71px;
    margin-left: 49px;
  }
  .logo {
    width: 100%;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 35px; 
  }
 
  
  .contactenos {
    display: flex;
    width: 137px;
    height: 30px;
    background: #126B3A;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    color: #ffffff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
  }
  
  .nav-links_text {
    display: flex;
    align-items: center;
    height: 30px;
    text-decoration: none;
    color: #000000;
  }
  